@font-face {
    font-family: Space-Mono;
    src: url(Space_Mono/SpaceMono-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Space-Mono;
    src: url(Space_Mono/SpaceMono-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Space-Mono;
    src: url(Space_Mono/SpaceMono-Italic.ttf);
    font-style: italic;
}

* {
    font-family:'Space-Mono'
}

.mobile-break {
    display:none;
}

h1 {
    width: 620px;
    color: #FD90A0;
    font-size: 75px;
    margin-left: 55px;
    margin-top: 70px;
    margin-bottom: 10px;
    transition: transform 0.35s;
} 

h1:hover {
    color: #FD90A0;
    font-size: 75px;
    margin-left: 55px;
    margin-top: 70px;
    margin-bottom: 10px;
    transform: scale(1.02);
}

h2 {
    z-index: -1;
    color: #113E7E;
    font-size: 50px;
    margin-left: 55px;
    margin-top: 0px;
}

h3 {
    color:#113E7E ;
    font-size: 40px;
    margin-left:25px;
    margin-right: 55px;
}

.navbar {
    z-index:2;
    background-color: #4B8CE7;
    border-radius: 40px;
    height: 75px;
    width: 50%;
    max-width: 750px;
    overflow: hidden;
    margin: auto;
    position: sticky;
    top: 50px;
    box-shadow: 7px 10px  #113E7E;
    transition: transform 0.35s;
    
}

.navbar:hover {
    z-index:2;
    background-color: #4B8CE7;
    border-radius: 40px;
    height: 75px;
    width: 50%;
    max-width: 750px;
    overflow: hidden;
    margin: auto;
    position: sticky;
    top: 50px;
    transform: scale(1.02);
}

.navbar a {
    z-index:2;
    font-family: 'Space-Mono';
    color:beige;
    text-align: center;
    padding: 23px 0px 23px 20px;
    font-size: 18px;
    text-decoration: none;
    float: left;
    width: 15%;
    
    
}

.navbar a.wide {
    width: 170px;
    padding-right: 20px;
}

.navbar a.right {
    float: right;
}

.navbar .button {
    color: beige;
    text-align: center;
    padding: 13px 25px 15px 0px;
    font-size: 35px;
    cursor: pointer;
    display: none;
}

.dropdown a{
    display:none;
}


.active{
    color: #113E7E;
    font-weight: bold;
}

body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: url("custom-cursor/cursor.svg"), auto;
    background-color:#F3EDE2;
    color: #24242E;

}



p {
    font-size: 15pt;
    margin-left: 55pt;
}

a {
    text-decoration: none;
    font-weight:bold;
    color: #4B8CE7;
    cursor: url("custom-cursor/pointer.svg"),pointer;
}


.container {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    height: 870px;
}

.text {
    width: 50%;
    margin-right:55px;
    
}

.image {
    width: 30%;
    height: 1000px;
    background-image: url("images/headshot.png");
    background-size: 550px;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.35s;
}

.image:hover {
    background-image: url("images/headshot_hover.png");
}

.edubox {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    margin-bottom: 70px;

}

.child1 {
    width: 550px;
    height: 250px;
   background-color: #4B8CE7;
   box-shadow: 7px 10px  #113E7E;
   border-radius: 40px;
   margin-right: 20px;
   margin-left:20px;
   transition: transform 0.35s;
}

.child1:hover {
    transform: scale(1.02);
}

.child2 {
    
    height: 250px;
    width: 550px;
    margin-left: 20px;
    margin-right: 20px;
}

.boxtextleft {
    
    text-align: end;
    margin-top: 6%;
    margin-right: 30px;
    margin-left: 20px;
    color: beige;

}

.dateleft {
    margin-top: 20%;
    font-size: 15pt;
    
}

.boxtextright {
    
    text-align: start;
    margin-top: 6%;
    margin-left: 30px;
    margin-right: 20px;
    color: beige;

}

.dateright {
    text-align: end;
    margin-top: 20%;
    font-size: 15pt;
    
}

.outline {
    border: 2px solid #FD90A0;
    background-color: #F3EDE2;
  color: #FD90A0;
  padding: 14px 28px;
  font-size: 16px;
  margin-left: 20px;
  border-radius: 40px;
}

.outline:hover{
    border: 2px solid #FD90A0;
    background-color: #FD90A0;
  color: beige;
  padding: 14px 28px;
  font-size: 16px;
  cursor: url("custom-cursor/pointer.svg"),pointer;
  margin-left: 20px;
  border-radius: 40px;

}

.hidden {
    opacity:0;
    transition: transform 2s, opacity 2s, background-image 0.35s;
    transform: translateY(50px);
}

.show {
    opacity:1;
    transform: translateY(0);
}

.middle {
    transition-delay: 200ms;
}

.bottom {
    transition-delay: 400ms;
}

.oneliner{
    transition-delay: 200ms;
}

.project-container {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.project-child {
   width: 450px;
   height: 450px;
   background-color: #4B8CE7;
   box-shadow: 7px 10px  #113E7E;
   border-radius: 40px;
   margin: 25px;
   padding: 25px;
   color: beige;
   transition: background-color 0.2s, transform 1.35s, opacity 2s;
}

.project-child:hover {
    width: 450px;
    height: 450px;
    background-color: #FD90A0;
    box-shadow: 7px 10px  #b52137;
    border-radius: 40px;
    margin: 25px;
    padding: 25px;
    color: beige;
    transform: scale(1.015);
 }

 @media screen and (min-width:768px) and (max-width: 1200px) {

    .navbar {
        z-index:2;
        background-color: #4B8CE7;
        border-radius: 40px;
        height: 75px;
        width: 85%;
        overflow: hidden;
        margin: auto;
        margin-bottom:20px;
        position: sticky;
        top: 50px;
        box-shadow: 7px 10px  #113E7E;
        transition: transform 0.35s;
        
    }

    .navbar:hover {
        z-index:2;
        background-color: #4B8CE7;
        border-radius: 40px;
        height: 75px;
        width: 85%;
        overflow: hidden;
        margin: auto;
        margin-bottom:20px;
        position: sticky;
        top: 50px;
        transform: scale(1.02);
    }
    
    .navbar a {
        z-index:2;
        font-family: 'Space-Mono';
        color:beige;
        text-align: center;
        padding: 23px 0px 23px 20px;
        font-size: 18px;
        text-decoration: none;
        float: left;
        width: auto;
        
        
    }
    
    .navbar a.wide {
        width: 170px;
        padding-right: 20px;
    }


    h1 {
        width: 620px;
        color: #FD90A0;
        font-size: 75px;
        margin-left: 35px;
        margin-top: 150px;
        margin-bottom: 10px;
        transition: transform 0.35s;
    } 

    h1:hover {
        color: #FD90A0;
        font-size: 75px;
        margin-left: 35px;
        margin-top: 150px;
        margin-bottom: 10px;
        transform: scale(1.02);
    }

    h2 {
        z-index: -1;
        color: #113E7E;
        font-size: 50px;
        margin-left: 35px;
        margin-top: 0px;
    }

    .project-container {
        flex-wrap: wrap;
    }

    .project-child {
        height:auto;
    }

    .project-child:hover {
        height:auto;
    }

    .container {
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 0;
        height: auto;
    }
    
    .text {
        width: 70%;
        margin-right:55px;
        
    }
    
    .image {
        width: 70%;
        height: 1000px;
        background-image: url("images/headshot.png");
        background-size: 550px;
        background-position: center;
        background-repeat: no-repeat;
        transition: background-image 0.35s;
    }
    
    .image:hover {
        background-image: url("images/headshot_hover.png");
    }

    .child1 {
        width: 550px;
        height: auto;
       background-color: #4B8CE7;
       box-shadow: 7px 10px  #113E7E;
       border-radius: 40px;
       margin-right: 20px;
       margin-left:20px;
       transition: transform 0.35s;
    }

    .boxtextleft {
        margin-bottom: 20px;
    }

    .boxtextright {
        margin-bottom: 20px;
    }

    .outline {
        margin-top: 20px;
    }

    .outline:hover {
        margin-top: 20px;
    }
    


}

@media screen and (max-width: 768px) {

    

    .navbar .right {
         display: none;
     }
 
     .navbar .button {
         display: inline;
         float: right;
     }
 
     .navbar {
         width: 70%;
     } 
 
     .navbar:hover {
         width:70%;
     }
 
     .dropdown {
         z-index: 3;
         display:none;
         margin:auto;
         margin-top: 70px;
         width: 70%;
         height: 150px;
         background-color: #4B8CE7;
         border-radius: 40px;
         box-shadow: 7px 10px  #113E7E;
         position: sticky;
         top:150px;
     }
     
     .dropdown a{
         text-align: center;
         display:inherit;
         z-index: 3;
         color: beige;
         list-style-type: none;
         padding: 12px;
         font-size: 18px;
         text-decoration: none;
     }
 
     h1 {
         width: 330px;
         color: #FD90A0;
         font-size: 35px;
         margin-left: 15px;
         margin-top: 50px;
         margin-bottom: 5px;
         
     } 
     
     
     h2 {
         z-index: -1;
         color: #113E7E;
         font-size: 25px;
         margin-left: 15px;
         margin-top: 0px;
     }
     
     h3 {
         color:#113E7E ;
         font-size: 20px;
         margin-left:15px;
         margin-right: 20px;
     }
     
     
     body {
         cursor: url("custom-cursor/cursor.svg"), auto;
         background-color:#F3EDE2;
         color: #24242E;
     
     }
     
     
     
     p {
         font-size: 13pt;
         margin-left: 10px;
         margin-right:10px;
     }
     
     a {
         text-decoration: none;
         font-weight:bold;
         color: #4B8CE7;
         cursor: url("custom-cursor/pointer.svg"),pointer;
     }
     
     
     .container {
         display:flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         margin: 0;
         
     }
     
     .text {
         width: 100%;
         margin-right:0;
         
     }
     
     .image {
         display:none;
         width: 0;
     }
 
     .edubox {
         display:flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         margin: 15px;
     
     }
     
     .child1 {
         width: 95%;
         height: auto;
        background-color: #4B8CE7;
        box-shadow: 7px 10px  #113E7E;
        border-radius: 40px;
        margin-right: 10px;
        margin-left:10px;
        margin-top: 50px;
        margin-bottom: 40px;
        transition: transform 0.35s;
        order:2;
     }
     
     .child1:hover {
         transform: scale(1.02);
     }
     
     .child2 {
         order:1;
         height: auto;
         width: 95%;
         margin-left: 20px;
         margin-right: 20px;
     }
     
     .boxtextleft {
         
         text-align: start;
         margin-top: 6%;
         margin-right: 30px;
         margin-left: 20px;
         margin-bottom: 20px;
         color: beige;
     
     }
     
     .dateleft {
         margin-top: 25px;
         font-size: 15pt;
         
     }
     
     .boxtextright {
         
         text-align: start;
         margin-top: 6%;
         margin-left: 30px;
         margin-right: 20px;
         margin-bottom: 20px;
         color: beige;
     
     }
     
     .dateright {
         text-align: start;
         margin-top: 25px;
         font-size: 15pt;
         
     }
     
     .outline {
         width: 160px;
         height: 40px;
         border: 2px solid #FD90A0;
         background-color: #F3EDE2;
       color: #FD90A0;
       padding: 8px 10px;
       font-size: 13px;
       margin-left: 20px;
       border-radius: 40px;
     }
     
     .outline:hover{
         width: 160px;
         height: 40px;
         border: 2px solid #FD90A0;
         background-color: #FD90A0;
       color: beige;
       cursor: url("custom-cursor/pointer.svg"),pointer;
       padding: 8px 10px;
       font-size: 13px;
       margin-left: 20px;
       border-radius: 40px;
     
     }
     
     .hidden {
         opacity:0;
         transition: transform 2s, opacity 2s, background-image 0.35s;
         transform: translateY(50px);
     }
     
     .show {
         opacity:1;
         transform: translateY(0);
     }
     
     .middle {
         transition-delay: 200ms;
     }
     
     .bottom {
         transition-delay: 400ms;
     }
     
     .oneliner{
         transition-delay: 200ms;
     }
     
     .project-container {
         flex-direction: column;
     }
 
     .project-child {
         width: 95%;
         height:auto;
     }
 
     .mobile-break {
         display:inline;
     }
     
     
 }
   

 